.navbar {
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .0975);
    height: px;
    &__brand {
        height: 100px;
        width: 230px;
        background-size: 220px;
    }
    &__mainLogo {
        background-repeat: no-repeat;
        background-image: url("/images/logo1.png");
    }
    &-nav {
        & > li {
            margin-left: 20px;
            &:first-child {
                margin-left: 0;
            }
            .commonNavIcon {
                height: 24px;
                width: 24px;
                background-size: 22px !important;
                background-repeat: no-repeat;
            }
            .profile-icon {
                background-image: url("/images/parts3.png");
            }
        }
    }
}